.marvelapp {
    margin: auto;
}

.comics-area__spinner {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comics-area__no-msg {
     min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comics-area-wrapper {
    background-color: rgb(143, 137, 137);
    margin-top: -20px;
}

.comics-area {
    max-width: 900px;
    margin: auto;
}


